<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <h1>{{ book.volumeInfo.title }}</h1>
    <p><strong>Published Date:</strong> {{ book.volumeInfo.publishedDate }}</p>
    <p><strong>Description:</strong> {{ book.volumeInfo.description }}</p>
    <p><strong>Page Count:</strong> {{ book.volumeInfo.pageCount }}</p>
    <p><strong>Print Type:</strong> {{ book.volumeInfo.printType }}</p>
    <p><strong>Average Rating:</strong> {{ book.volumeInfo.averageRating }}</p>
    <p><strong>Ratings Count:</strong> {{ book.volumeInfo.ratingsCount }}</p>
    <p><strong>Language:</strong> {{ book.volumeInfo.language }}</p>
    <p><strong>Preview Link:</strong> <a href="{{ book.volumeInfo.previewLink }}" target="_blank">Preview</a></p>
    <p><strong>Info Link:</strong> <a href="{{ book.volumeInfo.infoLink }}" target="_blank">More Info</a></p>
    <p><strong>Canonical Volume Link:</strong> <a href="{{ book.volumeInfo.canonicalVolumeLink }}" target="_blank">View on Google Books</a></p>
    <p><strong>Small Thumbnail:</strong> <img src="{{ book.volumeInfo.imageLinks.smallThumbnail }}" alt="Small Thumbnail"></p>
    <p><strong>Thumbnail:</strong> <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="Thumbnail"></p>
    <p><strong>Search Snippet:</strong> {{ book.searchInfo.textSnippet }}</p>
    <p><strong>Viewability:</strong> {{ book.accessInfo.viewability }}</p>
    <p><strong>Web Reader Link:</strong> <a href="{{ book.accessInfo.webReaderLink }}" target="_blank">Read Online</a></p>
    {% if user.is_authenticated %}
    {% comment %} <button id="toggle-favorite-btn">Add to Favorites</button> {% endcomment %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add to Favorites</button>
      </form>
    {% else %}
    <p>Please <a href="{% url 'login_page' %}">log in</a> to add this book to favorites.</p>
    {% endif %}
<script>
document.getElementById('toggle-favorite-btn').addEventListener('click', function() {
    var bookId = "{{ book.id }}"; // Assuming book ID is available in the template
    fetch(`/toggle_favorite/${bookId}`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Ensure you include CSRF token
            'Content-Type': 'application/json',
        },
        credentials: 'same-origin',
    })
    .then(response => response.json())
    .then(data => {
        console.log(data.message); // Display success message
        // Update button text or UI as needed
    })
    .catch(error => console.error(error));
});
</script>
</body>

</html>
